html {
	position: relative;
	min-height: 100%;
}

body {
	/* from fixed navbar example */
	/*padding-top: 60px;*/
	/* Margin bottom by footer height */
	/*margin-bottom: 50px;*/
}

/* From http://stackoverflow.com/questions/121203/how-to-detect-if-javascript-is-disabled
   search for "document.body.class" to find the solution:
   - set the <body> element's class via JavaScript. Default is .no-js.
     JavaScript sets it to .js
   - all js/no-js CSS rules start with the respective <body> class, then list 
     the affected descendants
*/
.js #script-warn {
	display: none!important;
}

.no-js #script-warn {
	display: inherit;
	position: absolute;
	top: 50%;
	background-color: rgba(0, 0, 0, 0.20);
}

a {
	color: inherit;	
}

a:hover {
	/*color: #d1a02D;*/
}

.js #main {
	display: inherit;
}

.no-js #main {
	display: none!important;
}

#main {
	min-width: inherit;
}

#main a {
	text-decoration: underline;	
}

#main a:visited {
	color: #e278c4;
}

label {
	padding-top: 2%;
	font-size: x-large;
}

h3 {
	text-decoration: underline overline;
}
	
h4 {
	font-weight: bold;
	font-size: larger;
}

.bdrtop {
	border-top: 2px solid blue;
}

button,
html input {
	color: black;
}

div.row {
	margin-left: 10px;
}

tr.tbl_header {
	font-weight: bold;
	background-color: lightgrey;
	color: black;
}

td {
	padding-right: 10px;
}

td.num {
	text-align: right;
}

.js .footer {
	display: inherit;
}

.no-js .footer {
	display: none!important;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 50px;
	/* bg color #51302D with 75% transparency */
	/*background-color: rgba(81, 48, 45, 0.75);*/
}

.footer-text {
	margin: 0;
}

.js nav {
	display: inherit;
}

.no-js nav {
	display: none!important;
}

nav.navbar-inverse {
	/*background-color: #61402D;*/
}

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:focus, 
.navbar-inverse .navbar-nav>.open>a:hover {
	/*background-color: #814A2D;*/
}

.menu-arrow {
	font-size: 0.75em;
}

.dropdown-toggle>.active,
.dropdown-menu,
.dropdown-menu>li>a {
	/*color: white;
	background-color: #814A2D;*/
}

.dropdown-header {
	/*color: #b5b5b5;
	font-weight: bold;
	font-style: italic;
	background-color: #814A2D;*/
}

.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
	/*background-color: #ffffff;*/
}

@media (max-width: 767px) {
	.dropdown-menu {
		padding: 0;
	}
	
	.dropdown-menu .divider {
		margin: 0;
	}

	ul#techlist li img {
		height: 35px;
		margin: auto 3px;
	}
}

@media (min-width: 768px) {
	input#reaction {
	    min-width: 472px;
	}

	.tooltip {
		min-width: 20em;
	}

	body {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

}

@media (min-height: 700px) {
	@media (min-width: 992px) {
		body {
			/* Margin bottom by footer height */
			margin-bottom: 75px;
		}
		
		.footer,
		.footer li span * {
			/* Set the fixed height of the footer here */
			height: 75px;
			line-height: 75px;
		}
	}
}
