label {
	padding-top: 2%;
	font-size: x-large;
}

h3 {
	text-decoration: underline overline;
}
	
h4 {
	font-weight: bold;
	font-size: larger;
}

.stepnum {
	display: none;
}

.bdrtop {
	border-top: 2px solid blue;
}

.bdrbtm {
	border-bottom: 2px solid blue;
}

button,
html input {
	color: black;
}

div.row {
	margin-left: 10px;
}

tr.tbl_header {
	font-weight: bold;
	background-color: lightgrey;
	color: black;
}

td {
	padding-right: 10px;
}

td.num {
	text-align: right;
}

@media (max-width: 767px) {
	#rxntxtcell {
		width: 95%;
	}

}

@media (min-width: 768px) {
	input#reaction {
		min-width: 472px;
	}

	#rxntxtcell {
		width: 65%;
	}

}
