 <web-app>
     <servlet>
         <servlet-name>TestRunner</servlet-name>
         <servlet-class>test.servlet.TestRunner</servlet-class>
     </servlet>
 
     <servlet>
         <servlet-name>TestRunnerRequestManager</servlet-name>
         <servlet-class>test.servlet.TestRunnerRequestManager</servlet-class>
     </servlet>
 
     <servlet-mapping>
         <servlet-name>TestRunner</servlet-name>
         <url-pattern>/TestRunner</url-pattern>
     </servlet-mapping>

     <servlet-mapping>
         <servlet-name>TestRunnerRequestManager</servlet-name>
         <url-pattern>/TRRequest</url-pattern>
     </servlet-mapping>

    <resource-ref>
         <res-ref-name>jdbc/ChemTestDB</res-ref-name>
         <res-type>javax.sql.DataSource</res-type>
         <res-auth>Container</res-auth>
    </resource-ref>
 </web-app>
